body {
    /* background-color: #383838; */
    background-color: #ffffff;
    /* color: #E0E0E0; */
    color: #4b5563;
    font-family: 'Noto Sans JP', sans-serif;
}

.scrollable {
    background-color: #ffffff;
    /* background-color: #383838; */
    scrollbar-width: thin;
    scrollbar-color: #888 #383838;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: #bf5a5a;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}